@inject ICartService CartService
@inject ISyncLocalStorageService LacalStorage
@implements IDisposable

<a href="cart" class=" btn btn-info">
	<i class="oi oi-cart"></i>
	<span class="badge">@GetCartItemsCount() </span>
</a>

@code {
	private int GetCartItemsCount()
	{
		var caunt = LacalStorage.GetItem<int>("cartItemsCount");
		return caunt;
	}
	protected override void OnInitialized()
	{
		CartService.OnChange += StateHasChanged;
	}
	public void Dispose()
	{
		CartService.OnChange -= StateHasChanged;
	}
}
